.eov-theme {
    --eov-font-caption: 5px;
    --eov-font-body: 6px;
    --eov-font-subheading: 7px;
    --eov-font-heading: 8px;
    --eov-space-tight: 1px;
    --eov-space-small: 2px;
    --eov-space-panel: 3px;
    --eov-control-height: 20px;
    --eov-tab-height: 16px;
    --eov-icon-size: 16px;
    --eov-scrollbar-width: 8px;
    --eov-scrollbar-compact-width: 6px;
    --eov-color-light-text: rgb(234,212,170);
    --eov-color-text-outline: rgb(45,28,35);
    --eov-tint-normal: white;
    --eov-tint-hover: rgb(245,245,245);
    --eov-tint-pressed: rgb(200,200,200);
    --eov-tint-disabled: rgb(128,128,128);
}
